@font-face{
    font-family: earthboundzero;
    src: url(./earthboundzero.ttf);
}
html{
    font-family: earthboundzero ;
    src: url(./earthboundzero.ttf);

}
html button{
    font-family: earthboundzero;
    src: url(./earthboundzero.ttf);

}

#game-container{
    transition: 2s;
    min-height: 200px;
}
#game-over-screen{
    display: none;
    color: white;
    transition: 1s;
    opacity: 0%;
    position: fixed;
    text-align: center;
    /* margin: 0px 35%; */
    width: 100%;
}
#game-over-screen a{
    color: white;
}
#game-over-screen img{
    width: 30%;
}
#blackscreen{
    background-color: black;
    width: 9999px;
    height:9999px;
    position: fixed;
    z-index: 9999;
    transition: 9s;
    display: none;
    
}
#player-overworld-stats{
    position: fixed;
    z-index: 9999;
    left:-1000px;
    transition: .2s;
}
#player-overworld-inventory{
    position: fixed;
    z-index: 9999;
    left:-1000px;
    transition: .2s;
    
}
#player-overworld-equip{
    position: fixed;
    z-index: 9999;
    left:-1000px;
    transition: .2s;
}
.menu-section{
    position: fixed;
    background-color: black;
    transition: 2s;
    color: white;
    border: 10px white groove;
    border-radius: 5px;
    z-index: 9999;
    padding:20px;
    max-width: 500px;
}
.menu-section button{
    margin: 20px;
    padding:10px;
    background-color: black;
    color:white;
    border: 1px solid white;
    border-radius: 10px;;
}
.icon{
    border: 1px white groove;
    height: 100px;
    width: 100px;
    color: white;
    border-radius: 25px;
}
#chest{
    background-image: url('./chest.png');
    background-position: center;
    background-size: 100px;
    position:fixed;
    bottom:0px;
    margin:0px 45%
}
body{
    /* font-family:'Wisdom of the World'; */
    background:black;
}
/* OVERWORLD RELATED CSS */
/* #player{
    position:relative;
    background:green;
    height: 400px;
    width:100px;
} */
#controls{
    color:white;
    position: fixed;
    /* right:0px; */
}

#xMove span{
    padding:100px;
    position: absolute;
}
/* ROOMS */
#pov{
    position: absolute;
}
/* #deadend{
    display: none;
}
#hall{
    display: none;
}
#wall{
    display: none;
}
#intersection{
    display: none;
} */
/* BATTLE RELATED CSS */
#player-entire-menu{
    transition: 1s;
    z-index: 9999;
}
#player-entire-menu button :active{
display: none;
}
#player-menu{
    position: absolute;
    background-color: black;
    transition: 2s;
    color: white;
    border: 10px white groove;
    border-radius: 0px 25px 0px 0px;
    z-index: 9999;
    margin:-10px;

}
 
#player-menu span{
    padding: 20px;

}





#player-menu button{
    margin: 20px;
    padding:10px;
    background-color: black;
    color:white;
    border: 1px solid white;
    border-radius: 10px;;
}
#player-overworld-menu{
    position: absolute;
    background-color: black;
    transition: .5s;
    color: white;
    border: 10px white groove;
    border-radius: 0px 25px 0px 0px;
    z-index: 9999;
    margin:-10px;
    left:-300px

}
 
#player-overworld-menu span{
    padding: 20px;

}
#player-overworld-menu button{
    margin: 20px;
    padding:10px;
    background-color: black;
    color:white;
    border: 1px solid white;
    border-radius: 10px;;
}
#player-overworld-inventory{
    overflow-y: scroll;
}
#player-item-menu{
    position: absolute;
    background-color: black;
    transition: .5s;
    color: white;
    border: 10px white groove;
    border-radius: 25px;
    z-index:9998;
    left:-500px;
    display: flex;
}
#player-item-menu span{
    padding: 20px;

}
#player-item-menu button{
    margin: 20px;
    padding:10px;
    background-color: black;
    color:white;
    border: 1px solid white;
    border-radius: 10px;;
}
#battlelog{
    position: fixed;
    top: 350px;
    height: 250px;
    width:90%;
    background-color: black;
    margin:0px 5%;
    border: 8px groove whitesmoke;
    padding:30px 0px;
    overflow-y:scroll;
    overflow-anchor:auto;
    border-radius: 25px;
    color:white;
    font-size: 25px;
    z-index: 9999;
    scroll-behavior: smooth;
}
#player-menu h1{
    text-align: right;
    margin-right: 10px;
}
#battlelog span{
    margin:10px 5px;
    animation-name: enemyhit;
    animation-duration: .1s;
    animation-iteration-count: 1;    
}
@keyframes h2 {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}
#battlelog h2{
    text-align: center;
    animation-name: h2;
    animation-duration: 2s;
    animation-iteration-count: 1;    
}

#enemy{
    position: absolute;
    width: 60%;
    margin:0px 20%;
    padding:20px;
    text-align: center;
}

/*ANIMATIONS TO THE BATTLE UI SCREEN THAT GET ADDED VIA IDS OR CLASSES*/
#enemy-hurt{
    animation-name: enemyhit;
    animation-duration: .1s;
    animation-iteration-count: 3;    
}
/* .enemy-on-fire img{
    background-image: url('./fire.gif');
    z-index: -9999;
} */
.shake{
    animation-name: shake;
    animation-duration: .02s;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
}

#dead{
    animation-name: dead;
    animation-duration: 2s;
    animation-iteration-count: 1; 
    animation-direction:inherit;
    opacity: 0%;
}

@keyframes enemyhit{
    0%{opacity: 0%;};
    100%{opacity: 100%;};
}
@keyframes shake{
    0%{padding-left:10px;};
    100%{padding-left:1000px;};
}
@keyframes dead{
    0%{opacity: 100%;}
    100%{opacity: 0%;}
}
#copyright{
    color:white;
    bottom:0px;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
}
/* Mobile compatibility */
@media(max-width:500px){
    #controls{
        top:200px;
        margin: 0px 15%;
        width: 70%;
    }
    #pov img{
    /* margin: 0px 5%; */
    width: 90%;
    margin: 0px 5%;
    }
    #chest{
        position: fixed;
        bottom: 10%;
        width: 40%;
        margin: 0px 30%;
        background-repeat: no-repeat;
    }
    #enemy img{
    /* position: fixed; */
    /* right:0px; */
    /* top: 10px; */
    width: 100%;
    /* width: 90%; */
    /* margin:0px 5% */
    }
    #player-menu{
    width: 30%;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    }
    #player-menu h1{
        text-align: center;
    }
    #player-item-menu{
        margin-left:-50%;
        
        z-index: 9999;
        display: inline-block;
    }
    #battlelog{
        width: 92%;
        height: 100px;
        margin: 0px;
        /* position:fixed; */
        /* right:0px; */
        z-index: 9998;
        font-size: 20px;

    }
    .player-stats-battle{
    position: fixed;
    top:40%;
    background-color: black;
    }
    }